{% extends "registration/base.html" %}
{% load staticfiles %}
{% block extrahead %}<link href="{% static 'css/login.css'%}" rel="stylesheet">{% endblock %}

{% block title %}Braincloud - Log In{% endblock %}

{% block content %}
<img src="{% static 'images/logo_white.png' %}" alt="BrainCloud" id="top_logo">
<section id="login_form_section">
    {% if form.errors %}
		<p class="error">Sorry, that's not a valid username or password.</p>
	{% endif %}
	<form action="" method="post" id="login_form">
	{% csrf_token %}
		<input type="text" name="username" placeholder="username" id="username">
		<input type="password" name="password" placeholder="password" id="password">
        <label for="checkbox" id="remember_text">remember</label>
        <input type="checkbox" id="checkbox" name="checkbox">
        <input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next|escape }}" />
	</form>
    <p id="login_form_bottom">
        <a href="#">Forgot your password?</a> | <a href="{% url 'register' %}">Sign Up</a>
    </p>
</section>
{% endblock %}