{% extends "registration/base.html" %}

{% block extrahead %}<link href="{% static 'css/registration.css' %}" rel="stylesheet">{% endblock %}

{% block title %}Braincloud - Sign Up{% endblock %}

{% block content %}
<section id="registration_form_section">
	<form action="" id="registration_form" method="post">
		{% csrf_token %}
        {{ registration_form.username }}
        {{ registration_form.password1 }}
        {{ registration_form.password2 }}
        {{ registration_form.email }}
		<input type="submit" value="Go!">
	</form>
</section>
{% endblock %}