#login_form_section {
    background: url(../images/login_form_background.png) no-repeat center center;
    position: relative;
    width: 851px;
    height: 363px;
    margin: 150px auto;
    overflow: auto;
}

#login_form {
    position: relative;
    width: 245px;
    height: 180px;
    margin: 150px auto 0px;
}

#login_form input[type=checkbox]{
    margin-top: 10px;
    float: left;
}

#remember_text {
    margin-top: 8px;
    display: inline-block;
}

#login_form input[type=submit] {
    position: relative;
    float: right;
}

p.error {
    position: absolute;
    width: 200px;
    top: 100px;
    left: 50%;
    margin-left: -100px;
}

#login_form_bottom{
    float: right;
    margin: 0px;
    margin-right: 25px;
    font-size: 14px;
}

#login_form_bottom a {
    color: #262B29;
}