<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
	<link href="{% static 'css/layout.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/top.css' %}" rel="stylesheet">
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-2.1.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/livesearch/livesearch.js' %}"></script>
    {% block extrahead %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div id="top">{% include "includes/top.html" %}</div>
    {% include "includes/search.html" %}
	<div id="middle">
		<div id="left">{% include "includes/nav_left.html" %}</div>
		<div id="content">{% block content %}{% endblock %}</div>
	</div>
	<div id="bottom">{% include "includes/footer.html" %}</div>
</body>
</html>