<!DOCTYPE html>
<html lang="en">
<head>
	<link href="{{STATIC_URL}}css/layout.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
    {% block extrahead %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div id="top">{% include "includes/top.html" %}</div>
    {% include "includes/search.html" %}
	<div id="middle">
		<div id="left">{% include "includes/nav_left.html" %}</div>
		<div id="content">{% block content %}{% endblock %}</div>
	</div>
	<div id="bottom">{% include "includes/footer.html" %}</div>
</body>
</html>