{% extends "base.html" %}

{% load pagination_tags %}

{% block extrahead %}
    <link href="{{STATIC_URL}}css/thought.css" rel="stylesheet">
{% endblock %}

{% block title %}Your thoughts{% endblock %}

{% block content %}
	<a href="{% url "add_thought" %}" id="new_thought_link">Add new thought</a>
	<!-- Cycle through entries -->
    {% autopaginate thoughts 3 %}
	{% for thought in thoughts %}
        <article class="thought_article">
            <h2 class="underline"><a href="{% url "view_thought" thought.id %}">{{ thought.title }}</a></h2>
            <a href="{% url "delete_thought" thought.id %}" class="delete_thought"><img src="{{STATIC_URL}}images/erase.png" alt="Delete thought"></a>
            <a href="{% url "edit_thought" thought.id %}" class="edit_thought"><img src="{{STATIC_URL}}images/edit.png" alt="Edit thought"></a>
            {% if post.body|wordcount <= 100 %}
                <p>{{ thought.content }}</p>
            {% else %}
                <p>{{ thought.content|truncatewords:"100" }}</p>
                <a href="{% url "view_thought" thought.id %}">Read more...</a>
            {% endif %}
            <ul>
                {% for tag in thought.tags %}
                    <div class="thought_tag"><a href="{% url "thoughts_by_tag" tag %}">{{ tag }}</a></div>
                {% endfor %}
            </ul>
            <p class="thought_timestamp">{{ thought.last_update }}</p>
        </article>
	{% endfor %}
    {% paginate %}
{% endblock %}